
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td class="content-wrap">
							<table width="100%" cellpadding="0" cellspacing="0">
                <tr>
									<td class="content-block">
										Hi <%= @user.name %>,
									</td>
								</tr>
								<tr>
									<td class="content-block">
										Thanks for registering on MyJira! To confirm your registration please click the URL below.
									</td>
								</tr>
								<tr>
									<td class="content-block">
										We may need to send you crucial notifications about your projects and it is important that we have an accurate email address.
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<a href="<%= confirm_email_user_url(@user.confirm_token) %>" class="btn-primary">Confirm email address</a>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										&mdash; MyJira Team
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				</div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
