<%if @users.count == 0 %>
  <p> Not found!</p>
<%else%>
  <% if params[:user_name] != '' %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= link_to 'Enroll', addmember_path(user_id: user,card_id: @thiscard.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%end%>

<%end%>
