<div class="col-md-4">
  <h4> Total Commits </h4>
  <%= pie_chart(@commit, library: {
  plotOptions: {
    pie: {
      dataLabels: {
        enabled: false
       },
       showInLegend: true
    }
  }
}) %>
</div>
<div class="col-md-4">
  <h4> Total Line Adds </h4>
  <%= pie_chart(@add, library: {
  plotOptions: {
    pie: {
      dataLabels: {
        enabled: false
       },
       showInLegend: true
    }
  }
}) %>
</div>
<div class="col-md-4">
  <h4> Total Line Deletes </h4>
  <%= pie_chart(@delete, library: {
  plotOptions: {
    pie: {
      dataLabels: {
        enabled: false
       },
       showInLegend: true
    }
  }
}) %>
</div>
