// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal-content{
    background-color: #f0f5f9 !important;
}
.head-icon{
  left: 18px;
  height: 20px;
  width: 20px;
  top: 20px;
  position: absolute;
  background-image: image-url("icons8-task-filled-50.png");
  background-repeat: no-repeat;
  background-size: 18px;

}
#myModalLabel{
  margin-left: 30px;
}
.btn-grey{
  background-color: #e2e4e6;
  color: #838c91;
}
.btn-grey:hover{
  background-color: #999;
}
.tag{
  padding: 5px;
  border-radius: 3px;
  color: #fff;
}

.tags-container, .card-member-container, .description-container, .comments-container, .card-prereq-container{
  padding: 10px 30px;
}
.card-member-container::after{
  content: "";
  display: block;
  clear: both;
}
.gap{
  height: 10px;
}
.card-member, .headshot{
  background-color: #d6dadc;
    border-radius: 25em;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    margin: 0 4px 0px 0;
    overflow: visible;
    position: relative;
    width: 30px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
}
.member-initials{
  display: block;
  font-size: 12px;
  font-weight: 700;
  height: 30px;
  left: 0;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.field{
  color: #838c91;
}
.description{
  padding: 10px;
}
.edit-controls{
  padding: 10px 0;
}
.description-input-area{
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  background: rgba(0,0,0,.03);
  border-color: rgba(0,0,0,.15);
}
#save-edit-description{
  margin-right: 10px;
}
#edit-description{
  border: none;
  background: transparent;
  text-decoration: underline;
  color: #838c91;
}
#edit-description:hover{
  color: #444;
}
.comment-container{
  min-height: 30px;
  padding: 10px 0;
  position: relative;
}
.sent-date, .username{
  margin-left: 20px;
}
.comment-content{
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #888888;
  margin: 10px 20px;
  padding: 5px 10px;
  display:inline-block;
}
.comment-content .left{
  background: #fff;
  border-width: 1px;
  width: 16px;
  height: 16px;
  border-color: #CCC #CCC transparent transparent;
  border-style: solid solid dashed dashed;
  left: 270px;
  top: 30px;
  border-radius: 0 0 100% 0;
  line-height: 0;
  box-shadow: 1px 1px 1px #888888;
}
.my-modal{
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
#tag-modal-dialog{
  z-index: 1100;
}
.edit-tag-modal{
  width: 300px !important;
}

//Stats
.stats-value {
    padding-top: 50px;
    color: #A0A0A0;
    text-align: center;
    font-size: 60pt;
}
.stats-title {
    color: #404040;
    font-size: 12pt;
    text-align: center;
    min-height: 2.3em;
}
.stats-days {
  padding-top: 20px;
  color: #A0A0A0;
  text-align: center;
  font-size: 20pt;
  line-height: 30px;
}
.analysis-block {
  border-radius: 25px;
  display: block;
    height: 300px;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #DDD;
    border-bottom: 2px solid #BBB;
    text-align: center;
    width: initial;
    box-sizing: border-box;
}
.analysis-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.analysis-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.analysis-table tr:nth-child(even) {
    background-color: #dddddd;
}

.copytext {
  font-family: 'Courier New', Courier, monospace;
}

.edit-tags-pop-over {
  margin-bottom: 8px;
  padding: 2px;
}
.edit-tags-pop-over li{
  list-style-type:none
}
.card-tag-edit-button {
    border-radius: 3px;
    padding: 8px;
    position: absolute;
    top: 0;
    right: 0;

}
.card-tag.mod-selectable {
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    margin: 2px 35px 2px 0;
    min-height: 18px;
    padding: 8px;
    position: relative;
    display: block;
    color: #fff;
}
.card-tag.mod-selectable:hover {
  background-color: rgba(0,0,0,.03);
}

.card-tag-green {
    background-color: #61bd4f;
}
.card-tag-yellow {
    background-color: #f2d600;
}
.card-tag-orange {
    background-color: #ffab4a;
}
.card-tag-red {
    background-color: #eb5a46;
}
.card-tag-purple {
    background-color: #c377e0;
}
.card-tag-blue {
    background-color: #0079bf;
}
.card-tag-sky {
    background-color: #00c2e0;
}
.card-tag-lime {
    background-color: #51e898;
}
.card-tag-pink {
    background-color: #ff80ce;
}
.card-tag-black {
    background-color: #4d4d4d;
}
.card-tag-color-1 {
    background-color: #61bd4f;
}
.card-tag-color-2 {
    background-color: #f2d600;
}
.card-tag-color-3 {
    background-color: #ffab4a;
}
.card-tag-color-4 {
    background-color: #eb5a46;
}
.card-tag-color-5 {
    background-color: #c377e0;
}
.card-tag-color-6 {
    background-color: #0079bf;
}
.card-tag-color-7 {
    background-color: #00c2e0;
}
.card-tag-color-8 {
    background-color: #51e898;
}
.card-tag-color-9 {
    background-color: #ff80ce;
}
.card-tag-color-10 {
    background-color: #4d4d4d;
}
.edit-tag{
  background-image: image-url("icons8-edit-50.png");
  background-repeat: no-repeat;
  background-size: 18px;
  height: 20px;
  width: 20px;
  display: inline-block;
  float: right;
  position: relative;
  top: 7px;
}
.edit-tag::after{
  content: "";
  clear: both;
}
.selected::after{
  background-image: url('icons8-checkmark-50.png');
  background-size: 18px 18px;
  display: inline-block;
  width: 18px;
  height: 18px;
  content:"";
  float: right;
}

.new-tag-button{
  padding: 10px;
  background-color: #eee;
  border-radius: 3px;
  margin-top: 5px;
}

.new-tag-button:hover{
  background-color: #ddd;
}
.new-tag-button span{
  color: #898;
}
#back-to-taglist{
  background-image: url('icons8-back-filled-50.png');
  background-repeat: no-repeat;
    background-size: 18px;
    height: 20px;
    width: 20px;
    display: inline-block;
    float: left;
}

.input-text{
  -webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-appearance: none;
background-color: #e2e4e6;
border: 1px solid #cdd2d4;
border-radius: 3px;
display: block;
margin-bottom: 12px;
padding: 7px;
}

.tag{
  float: left;
margin: 0 10px 10px 0;
border-radius: 3px;
color: #fff;
display: block;
margin-right: 3px;
max-width: 100%;
overflow: hidden;
padding: 6px 6px;
position: relative;
text-overflow: ellipsis;
white-space: nowrap;
}
.card-tag-color-label-choose{
  height: 35px;
  width: 50px;
  float: left;
  margin: 0 10px 10px 0;
  border-radius: 3px;
  color: #fff;
  display: block;
  margin-right: 3px;
  max-width: 100%;
  overflow: hidden;
  padding: 6px 6px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.color-selected::after{
  background-image: url('icons8-checkmark-50.png');
background-size: 18px 18px;
display: inline-block;
width: 18px;
height: 18px;
content: "";
margin-left: 12px;
margin-top: 3px;
}
.card-tag-color-label-wrap{

}
.comment-box{
  position: relative;
  margin: 15px 0;
}
.comment-box-input {
  box-shadow: 1px 1px 1px #888888;
    height: 75px;
    margin: 0;
    min-height: 75px;
    padding: 9px 11px;
    padding-bottom: 0;
    width: 100%;
    resize: none;
    border-radius: 3px;
border: none;
}
.comment-box-options {
    position: absolute;
    bottom: 6px;
    right: 6px;
}
.icon-mention{
  background-image: url('icons8-email-50.png');
background-size: 18px 18px;
display: inline-block;
width: 18px;
height: 18px;
content: "";
margin-left: 12px;
margin-top: 3px;
}
.new-comments{
  padding-bottom: 10px;
}

.member-in-list, .prereq-in-list{
  background-color: white;
    padding: 4px 14px;
    border-radius: 5px;
}
.member-in-list:hover, .prereq-in-list:hover{
  background-color: #f5faff;
}
.member-name{
  position: relative;
top: 6px;
left: 10px;
}
.prereq-name{
  position: relative;
left: 10px;
}
.member-selected::after, .prereq-selected::after{
background-image: url(icons8-checkmark-50.png);
background-size: 18px 18px;
display: inline-block;
width: 18px;
height: 18px;
content: "";
float: right;
position: relative;
    top: -24px;
}
.prereq-selected::after{
background-image: url(icons8-checkmark-50.png);
background-size: 18px 18px;
display: inline-block;
width: 18px;
height: 18px;
content: "";
float: right;
position: relative;
    top: -17px;
}
#at-member-name{
  position: relative;
    top: -4px;
}
.at-user{
  margin-right: 10px;
}
.outside-tag{
  padding: 4px 6px !important;
}
.card-out-tag-container::after{
  content: "";
  clear: both;
}
.show-new-card{
  padding: 12px 15px;
background-color: #eee;
margin: 0px 10px;
border-radius: 7px;
box-shadow: 1px 1px 6px #888888;
}
.new-card-content{
  margin: 3px 0;
  width: 100%;
border-radius: 5px;
overflow: hidden;
word-wrap: break-word;
resize: none;
height: 100px;
border: none;
}
.create-card-button{
  margin: 5px
}
.precard-name-done{
  background-color: #449d44;
  float: left;
margin: 0 10px 10px 0;
border-radius: 3px;
color: #fff;
display: block;
margin-right: 3px;
max-width: 100%;
overflow: hidden;
padding: 6px 6px;
position: relative;
text-overflow: ellipsis;
white-space: nowrap;
}
.precard-name-undone{
  background-color: #eb5a46;
  float: left;
margin: 0 10px 10px 0;
border-radius: 3px;
color: #fff;
display: block;
margin-right: 3px;
max-width: 100%;
overflow: hidden;
padding: 6px 6px;
position: relative;
text-overflow: ellipsis;
white-space: nowrap;
}
