@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
body {
  margin: 0 !important;
  background-image: image-url("background.jpg");
  background-size: cover;
  background-repeat:no-repeat;
}
.navbar-brand{
  font-weight: bold;
}
.jumbotron{
  margin-top: 50px;
  background-color:rgba(255,255,255,0.7) !important;
}
.welcome{
  margin-bottom: 30px;
}

.sign-btn{
    color: #fff !important;
}

.my-form-field{
  margin-top: 10px;
  margin-bottom: 20px;
}

.board{
  border: 1px solid grey;
  border-radius: 5px;
  height: 150px;
  margin: 10px 30px;
  background-color: rgba(255,255,255,0.8);
}

.board:hover{
  color: #000;
  background-color: rgba(255,255,255,1);
}

.board-name, .board-leader{
  font-size: 20px;
  margin-top: 15px;
}

.side-menu{
  background-color: #eee;
  float: left;
  width: 300px;
  height: -webkit-fill-available;
}

.menu-title{
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
}

.list-container{
  background-color: #E2E4E6;
  border-radius: 5px;
  float: left;
  margin-left: 10px;
  width: 300px;
  padding-bottom: 10px;
}

.list-name{
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
}

.card-container{
  background-color: #fdfdfd;
  border-radius: 10px;
  margin: 5px 10px;
  padding: 10px;
}

.new-card{
  margin: 10px 30px;
}

#users-container{
  margin: 10px 0;
}

.pre-container{
  background-color: #E2E4E6;
  border-radius: 5px;
  float: left;
  margin-left: 10px;
  width: 3000px;
  padding-bottom: 10px;
}
