<div class="container">
  <div class="jumbotron">

    <div id="welcome1">WELCOME TO MYJIRA</div>
    <div id="welcome2">A WEB-BASED BOARD TO TRACK YOUR TEAM PROJECTS!</div>
    <div id="welcome3">Sign up and create your first board!</div/>
    <div class = "sign-btn">
      <%= link_to "Sign up now", signup_path, class: "btn btn-primary sign-btn"%>
    </div>
  </div>
</div>
