<div class="container">
  <div class="jumbotron">
    <h1 class="welcome">welcome to MyJara!</h1>
    <h1 class="welcome">Sign Up and create your first Board!</h1>
    <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg sign-btn"%>
  </div>

</div>
